// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dark: #28292C;
$light: #7E7F80;
$super-light: #DADADB;
$super-dark: #18191A;
$pop-light: #696D76;
$light-blue: #8299C6;
$light-red: #E67776;
$dark-red: #922227;

body {
  background-color: $super-light;
  font-family: 'Nunito Sans', sans-serif;
  color: $super-light;
}

h1 {
  font-size: large;
  font-weight: bold;
}

.authForm {
  margin: 0 auto;
  padding: 10px;
  min-width: 200px;
  max-width: 400px;
  width: 30%;
  background-color: $dark;
  border-radius: 5px;
}

.authForm form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  height: 25px;
  margin-bottom: 10px;
  background-color: $pop-light;
  border-radius: 5px;
  border-style: none;
  color: $super-light;
  font-size:100%;
  outline: none;
  font-family: 'Nunito Sans', sans-serif;
}

input:active {
  border-color: $super-light;
  box-sizing: content-box;
}

input[type=submit] {
  background-color: $light-blue;
  height: 35px;
  font-weight: bold;
}

input[type=submit]:hover {
  cursor: pointer;
  transform: scale(1.01) perspective(1px);
}

.authOption {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.ui-button {
  background-color: $light-blue;
  height: 35px;
  border-radius: 5px;
  border-style: none;
  color: $super-light;
  font-size: 100%;
  text-decoration: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  margin-top: 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}

.ui-button:hover {
  cursor: pointer;
  transform: scale(1.01) perspective(1px);
}

hr {
  width: 30%;
  background-color: $super-light;
  height: 1px;
  border-style: none;
}

.errorSection {
  padding: 3px;
  background-color: $light-red;
  margin-bottom: -4px;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.errorItem {
  color: $dark-red;
}

.authForm > .errorSection {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $dark;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  height: inherit;
}

.logo img {
  height: 35px;
  width: auto;
}