// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dark: #28292C;
$light: #7E7F80;
$super-light: #DADADB;
$super-dark: #18191A;
$pop-light: #696D76;
$light-blue: #8299C6;
$light-red: #E67776;
$dark-red: #922227;

body {
  background-color: $super-light;
  font-family: 'Nunito Sans', sans-serif;
  color: $super-light;
  height: 100vh;
}

h1 {
  font-size: large;
  font-weight: bold;
}

.authForm {
  margin: 0 auto;
  padding: 10px;
  min-width: 200px;
  max-width: 400px;
  width: 30%;
  background-color: $dark;
  border-radius: 5px;
}

.authForm form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  height: 25px;
  margin-bottom: 10px;
  background-color: $pop-light;
  border-radius: 5px;
  border-style: none;
  color: $super-light;
  font-size:100%;
  outline: none;
  font-family: 'Nunito Sans', sans-serif;
}

input:active {
  border-color: $super-light;
  box-sizing: content-box;
}

input[type=submit] {
  background-color: $light-blue;
  height: 35px;
  font-weight: bold;
}

input[type=submit]:hover {
  cursor: pointer;
  transform: scale(1.01) perspective(1px);
}

.authOption {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.ui-button {
  background-color: $light-blue;
  height: 35px;
  border-radius: 5px;
  border-style: none;
  color: $super-light;
  font-size: 100%;
  text-decoration: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  margin-top: 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}

.ui-button:hover {
  cursor: pointer;
  transform: scale(1.01) perspective(1px);
}

hr {
  width: 30%;
  background-color: $super-light;
  height: 1px;
  border-style: none;
}

.errorSection {
  padding: 3px;
  background-color: $light-red;
  margin-bottom: -4px;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.errorItem {
  color: $dark-red;
}

.authForm > .errorSection {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $dark;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  height: inherit;
  margin-left: 5px;
}

.logo img {
  height: 35px;
  width: auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.profile {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
}

.profile h1 {
  margin-left: 5px;
}

.profile:hover {
  cursor: pointer;
  transform: scale(1.01) perspective(1px);
}

.profile-dark {
  height: 35px;
  width: auto;
}

.profile-light {
  height: 35px;
  width: auto;
}

.profile-dropdown {
  padding: 0;
  list-style: none;
  background-color: $super-light;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-width: 100%;
  width: max-content;
  display: none;
  position: absolute;
  top: 35px;
  right: 0px;
}

.profile:hover .profile-dropdown {
  display: block;
  background-color: $super-light;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile-dropdown > li {
  display: block;
  position: relative;
  text-align: left;
  padding: 5px;
  color: $dark;
  // width: 100%;

}

.profile-dropdown > li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.profile-dropdown > li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile-dropdown > li:hover {
  background-color: $light-blue;
  color: $super-light;
}

.all-threads {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  background-color: $super-light;
  width: 200px;
  height: fit-content;
  // margin-left: 10px;
  // margin-top: 10px;
  border-radius: 5px;
  flex-grow: 0.25;
}

.all-threads .thread-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.all-threads .thread-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.thread-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $dark;
  padding: 5px;
}

.add-thread {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0px;
}

.add-thread > button {
  background: none;
  border: none;
  flex-grow: 1;
  height: 100%;
  font-size: 100%;
  display: block;
  box-sizing: border-box;
  text-align: right;
  padding-right: 10px;
}

.add-thread > button:hover {
  cursor: pointer;
  transform: scale(1.01) perspective(1px);
}

.add-thread > input {
  flex-grow: 4;
  width: 50px;
  margin: 0px;
  background: none;
  color: $dark;
}

.add-thread > input::placeholder {
  color:$light
}

.thread-item > button {
  background: none;
  border: none;
}

.thread-item > button:hover {
  cursor: pointer;
  transform: scale(1.01) perspective(1px);
} 

.thread-item:hover {
  background-color: $light-blue;
}

#root {
  height: 100%;
}

.app-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-app {
  display: flex;
  padding: 10px;
  height: 100%;
}

.messages-area {
  display: flex;
  flex-direction: column;
  flex-grow: 7;
  margin-left: 10px;
}

.messages-index {
  flex-grow: 9;
  background-color: $pop-light;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.full-message {
  display: flex;
  justify-content: left;
  margin-top: 5px;
}

.full-message .profile-light {
  height: 30px;
  width: auto;
}

.message-item {
  font-size: 12px;
}

.message-header {
  display: flex;
  // flex-direction: column;
  justify-content: left;
  align-items: baseline;
  margin-bottom: 2px;
}

.message-header > p {
  font-size: 10px;
  display: inline-block;
  color: $super-light;
  margin-left: 10px;
  vertical-align: bottom;
}

.message-header > h3 {
  font-size: 14px;
  font-weight: bold;
}

.new-message {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-message > .ui-button {
  margin-top: 5px;
  color: $super-light;
  flex-grow: 1;
}

.new-message > textarea {
  font-family: 'Nunito Sans', sans-serif;
  padding: 5px;
  color: $super-dark;
  border: none;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.edit-popover {
  // position: relative;
  display: flex;
  flex-direction: column;
  // left: 30px;
  // right: 30px;
  // top: 100px;
  background-color: $light-red;
  padding: 10px;
  border-radius: 5px;
}

.edit-popover h1 {
  text-align: center;
  margin-bottom: 5px;
}

.edit-popover .ui-button:first-child {
  margin-right: 5px;
}

.edit-popover > textarea {
  font-family: 'Nunito Sans', sans-serif;
  padding: 5px;
  color: $super-dark;
  border: none;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.edit-options {
  display: flex;
  justify-content: space-between;
}

.cancel {
  background-color: $dark;
}

.save {
  background-color: $light-blue;
}